*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.intro {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 87.5%;
  text-align: left;
}

.intro h1 {
  margin-bottom: 0.5rem;
}

.intro p {
  margin-bottom: 1.5rem;
}

.switch-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  background: #faa647;
  padding: 10px 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.switch-label input {
  display: none;
}

.slider {
  width: 40px;
  height: 20px;
  background: white;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}

.slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffab2e;
  position: absolute;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

input:checked + .slider::before {
  transform: translateX(20px);
}

button#filtro-sem-guia {
  padding: 10px;
  background-color: #faa647;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;

}

#lista-taxi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 20px;
}

.taxi-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem 2rem;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 97%;
  gap: 20px;
  transition: transform 0.2s ease;
}

.taxi-card:hover {
  transform: scale(1.02);
}

.perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #faa647;
}

.taxi-info {
  flex: 1;
}

.taxi-info h2 {
  margin: 0;
  font-size: 10px;
  color: #172026;
}

.taxi-info p {
  margin: 4px 0;
  font-size: 10px;
}

.proximo-btn {
  background: #faa647;
  border: none;
  color: white;
  font-size: 10pxrem;
  padding: 10px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.proximo-btn:hover {
  background: #fdb25d;
}

#solicita_3 *{
  display: inline-block;
  margin: 0;
}

#solicita_3 .txt_sol{
  position: relative;
  top: -5px;
}
#solicita_3{
  background-color: rgba(255, 166, 0, 0.692);
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
@media (min-width:1144px){
  .intro{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
  }
  .switch-label{
    border-radius: 10px;
  }
  button#filtro-sem-guia{
    border-radius: 10px;
  }
  .intro p.info_mais::after{
    content:" Nossos motoristas são experientes, pontuais e conhecem cada detalhe das rotas, garantindo uma viagem segura e confortável. Além disso, você terá a oportunidade de descobrir curiosidades locais, pontos turísticos escondidos e a cultura única de cada região. Seja numa viagem rápida ou num passeio mais longo, cada trajeto transforma-se numa experiência inesquecível, feita sob medida para você.";
  }
  div.taxi-card h2{
    font-size: 16px;
  }
}